.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .about-container-sm {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .about-container-lg {
    display: none;
  }
}
